## Loops (51â€“150)

### 51. Print numbers from 1 to 100.

In [69]:
# Loop from 1 to 100 (inclusive)
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### 52. Print even numbers from 1 to 100.

In [70]:
# Loop from 2 to 100, incrementing by 2 to get even numbers
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

### 53. Print odd numbers from 1 to 100.

In [71]:
# Loop from 1 to 100, incrementing by 2 to get odd numbers
for i in range(1, 101, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### 54. Print multiples of 5 from 1 to 100.

In [72]:
# Loop from 5 to 100, incrementing by 5 to get multiples of 5
for i in range(5, 101, 5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

### 55. Print table of a number.

In [ ]:
# Get input number from the user
num = int(input("Enter a number to print its multiplication table: "))

print(f"Multiplication Table for {num}:")
# Loop from 1 to 10 to generate table entries
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

### 56. Print all prime numbers between two numbers.

In [ ]:
# Get the lower and upper bounds from the user
lower = int(input("Enter lower bound of the interval: "))
upper = int(input("Enter upper bound of the interval: "))

print(f"Prime numbers between {lower} and {upper} are:")
# Iterate through each number in the interval
for num in range(lower, upper + 1):
    # Prime numbers are greater than 1
    if num > 1:
        is_prime = True
        # Check for factors from 2 up to the square root of the number
        for i in range(2, int(num**0.5) + 1):
            if (num % i) == 0:
                is_prime = False
                break
        if is_prime:
            print(num)

### 57. Print sum of first N natural numbers.

In [ ]:
# Get the value of N from the user
N = int(input("Enter a positive integer N: "))

# Method 1: Using a loop
sum_loop = 0
for i in range(1, N + 1):
    sum_loop += i
print(f"Method 1 (Loop): Sum of first {N} natural numbers is {sum_loop}")

# Method 2: Using the formula n*(n+1)/2
sum_formula = N * (N + 1) // 2
print(f"Method 2 (Formula): Sum of first {N} natural numbers is {sum_formula}")

### 58. Print factorial of a number.

In [ ]:
# Get the number from the user
num = int(input("Enter a non-negative integer: "))

# Method 1: Using a loop
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("Method 1 (Loop): The factorial of 0 is 1.")
else:
    factorial_loop = 1
    for i in range(1, num + 1):
        factorial_loop *= i
    print(f"Method 1 (Loop): The factorial of {num} is {factorial_loop}.")

# Method 2: Using math.factorial function
import math
if num < 0:
    # Already handled above, but for completeness in this method context
    pass
elif num == 0:
    print("Method 2 (math.factorial): The factorial of 0 is 1.")
else:
    factorial_math = math.factorial(num)
    print(f"Method 2 (math.factorial): The factorial of {num} is {factorial_math}.")

### 59. Print Fibonacci series up to N terms.

In [ ]:
# Get the number of terms from the user
n_terms = int(input("Enter the number of terms for Fibonacci series: "))

# Initialize the first two terms
a, b = 0, 1
count = 0

if n_terms <= 0:
    print("Please enter a positive integer.")
elif n_terms == 1:
    print("Fibonacci series up to 1 term:")
    print(a)
else:
    print("Fibonacci series:")
    while count < n_terms:
        print(a, end=" ") # Print the current term
        nth = a + b      # Calculate the next term
        a = b            # Update 'a' to the current 'b'
        b = nth          # Update 'b' to the newly calculated next term
        count += 1
    print()

### 60. Print reverse Fibonacci series.

In [ ]:
# Get the number of terms for Fibonacci series
n_terms = int(input("Enter the number of terms for reverse Fibonacci series: "))

if n_terms <= 0:
    print("Please enter a positive integer.")
elif n_terms == 1:
    print("Reverse Fibonacci series up to 1 term:")
    print(0)
else:
    # Generate the Fibonacci series up to N terms
    fib_series = [0, 1]
    while len(fib_series) < n_terms:
        fib_series.append(fib_series[-1] + fib_series[-2])

    # Print the series in reverse order
    print("Reverse Fibonacci series:")
    for i in range(len(fib_series) - 1, -1, -1):
        print(fib_series[i], end=" ")
    print()