## Basic Input/Output (1–50)

### 1. Write a program to print “Hello World”.

In [1]:
print("Hello World")

Hello World

### 2. Write a program to input two numbers and print their sum.

In [2]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("The sum is:", num1 + num2)

Enter first number: 1
Enter second number: 1
The sum is: 2.0

### 3. Input a number and print whether it is positive or negative.

In [3]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 1
Positive

### 4. Input a number and print its square.

In [4]:
num = float(input("Enter a number: "))
print("The square is:", num ** 2)

Enter a number: 1
The square is: 1.0

### 5. Input two numbers and print the larger one.

In [5]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("The larger number is:", max(num1, num2))

Enter first number: 1
Enter second number: 1
The larger number is: 1.0

### 6. Input name and age and print them.

In [6]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("Name:", name, ", Age:", age)

Enter your name: 1
Enter your age: 1
Name: 1 , Age: 1

### 7. Input three numbers and print the greatest.

In [7]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
print("The greatest number is:", max(num1, num2, num3))

Enter first number: 1
Enter second number: 1
Enter third number: 1
The greatest number is: 1.0

### 8. Input temperature in Celsius and convert to Fahrenheit.

In [8]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius: 1
Temperature in Fahrenheit: 33.8

### 9. Input a number and print if it is even or odd.

In [9]:
num = int(input("Enter an integer: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter an integer: 1
Odd

### 10. Input a number and print its cube.

In [10]:
num = float(input("Enter a number: "))
print("The cube is:", num ** 3)

Enter a number: 1
The cube is: 1.0

### 11. Input two numbers and print their average.

In [11]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("The average is:", (num1 + num2) / 2)

Enter first number: 1
Enter second number: 1
The average is: 1.0

### 12. Input a number and print its absolute value.

In [12]:
num = float(input("Enter a number: "))
print("The absolute value is:", abs(num))

Enter a number: 1
The absolute value is: 1.0

### 13. Input a float and print it rounded to 2 decimals.

In [13]:
num = float(input("Enter a float number: "))
print("Rounded to 2 decimals:", round(num, 2))

Enter a float number: 1
Rounded to 2 decimals: 1.0

### 14. Input a number and print the last digit.

In [14]:
num = int(input("Enter an integer: "))
print("The last digit is:", abs(num) % 10)

Enter an integer: 1
The last digit is: 1

### 15. Input a number and print the first digit.

In [15]:
num = int(input("Enter an integer: "))
num_str = str(abs(num))
if num_str:
    print("The first digit is:", num_str[0])
else:
    print("No digits entered.")

Enter an integer: 1
The first digit is: 1

### 16. Input a number and print sum of first and last digit.

In [16]:
num = int(input("Enter an integer: "))
num_abs = abs(num)
last_digit = num_abs % 10
num_str = str(num_abs)
if num_str:
    first_digit = int(num_str[0])
    print("Sum of first and last digit is:", first_digit + last_digit)
else:
    print("No digits entered.")

Enter an integer: 1
Sum of first and last digit is: 2

### 17. Input a number and print number of digits.

In [17]:
num = int(input("Enter an integer: "))
print("Number of digits:", len(str(abs(num))))

Enter an integer: 1
Number of digits: 1

### 18. Input a number and print reverse of the number.

In [18]:
num = input("Enter a number: ")
print("Reversed number:", num[::-1])

Enter a number: 1
Reversed number: 1

### 43. Input marks of 5 subjects; print percentage.

In [46]:
sub1 = float(input("Enter marks for subject 1: "))
sub2 = float(input("Enter marks for subject 2: "))
sub3 = float(input("Enter marks for subject 3: "))
sub4 = float(input("Enter marks for subject 4: "))
sub5 = float(input("Enter marks for subject 5: "))



total_marks = sub1 + sub2 + sub3 + sub4 + sub5
percentage = (total_marks / 500) * 100 # Assuming max marks for each subject is 100

print(f"Total Marks: {total_marks}")
print(f"Percentage: {percentage:.2f}%")

Enter marks for subject 1: 1
Enter marks for subject 2: 1
Enter marks for subject 3: 1
Enter marks for subject 4: 1
Enter marks for subject 5: 1
Total Marks: 5.0
Percentage: 1.00%

### 44. Input number; print table.

In [44]:
num = int(input("Enter a number to print its multiplication table: "))

print(f"Multiplication Table for {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number to print its multiplication table: 3
Multiplication Table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

### 45. Input any two numbers; print maximum.

In [50]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("The maximum number is:", max(num1, num2))

Enter first number: 1
Enter second number: 1
The maximum number is: 1.0

### 46. Input two numbers; print minimum.

In [47]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("The minimum number is:", min(num1, num2))

Enter first number: 1
Enter second number: 1
The minimum number is: 1.0

### 47. Input a letter; check if it is a vowel or consonant.

In [48]:
char = input("Enter a letter: ").lower()

if len(char) == 1 and char.isalpha():
    if char in ('a', 'e', 'i', 'o', 'u'):
        print(f"'{char}' is a vowel.")
    else:
        print(f"'{char}' is a consonant.")
else:
    print("Please enter a single letter.")

Enter a letter: 1
Please enter a single letter.

### 48. Input number; print factorial.

In [49]:
import math

num = int(input("Enter a non-negative integer: "))

if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    factorial = math.factorial(num)
    print(f"The factorial of {num} is {factorial}.")

Enter a non-negative integer: 1
The factorial of 1 is 1.

### 49. Input number of terms; print Fibonacci series.

In [51]:
n_terms = int(input("Enter the number of terms for Fibonacci series: "))

a, b = 0, 1
count = 0

if n_terms <= 0:
    print("Please enter a positive integer.")
elif n_terms == 1:
    print("Fibonacci series up to 1 term:")
    print(a)
else:
    print("Fibonacci series:")
    while count < n_terms:
        print(a, end=" ")
        nth = a + b
        a = b
        b = nth
        count += 1
    print()

Enter the number of terms for Fibonacci series: 1
Fibonacci series up to 1 term:
0

### 50. Input number; check if prime or not.

In [52]:
num = int(input("Enter a number: "))

if num <= 1:
    print(f"{num} is not a prime number.")
elif num == 2:
    print(f"{num} is a prime number.")
else:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

Enter a number: 1
1 is not a prime number.

### 43. Input marks of 5 subjects; print percentage.

In [53]:
sub1 = float(input("Enter marks for subject 1: "))
sub2 = float(input("Enter marks for subject 2: "))
sub3 = float(input("Enter marks for subject 3: "))
sub4 = float(input("Enter marks for subject 4: "))
sub5 = float(input("Enter marks for subject 5: "))

total_marks = sub1 + sub2 + sub3 + sub4 + sub5
percentage = (total_marks / 500) * 100 # Assuming max marks for each subject is 100

print(f"Total Marks: {total_marks}")
print(f"Percentage: {percentage:.2f}%")

Enter marks for subject 1: 1
Enter marks for subject 2: 1
Enter marks for subject 3: 1
Enter marks for subject 4: 1
Enter marks for subject 5: 1
Total Marks: 5.0
Percentage: 1.00%

### 44. Input number; print table.

In [54]:
num = int(input("Enter a number to print its multiplication table: "))

print(f"Multiplication Table for {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number to print its multiplication table: 1
Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

### 45. Input any two numbers; print maximum.

In [55]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("The maximum number is:", max(num1, num2))

Enter first number: 1
Enter second number: 1
The maximum number is: 1.0

### 46. Input two numbers; print minimum.

In [56]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("The minimum number is:", min(num1, num2))

Enter first number: 1
Enter second number: 1
The minimum number is: 1.0

### 47. Input a letter; check if it is a vowel or consonant.

In [57]:
char = input("Enter a letter: ").lower()

if len(char) == 1 and char.isalpha():
    if char in ('a', 'e', 'i', 'o', 'u'):
        print(f"'{char}' is a vowel.")
    else:
        print(f"'{char}' is a consonant.")
else:
    print("Please enter a single letter.")

Enter a letter: 1
Please enter a single letter.

### 48. Input number; print factorial.

In [58]:
import math

num = int(input("Enter a non-negative integer: "))

if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    factorial = math.factorial(num)
    print(f"The factorial of {num} is {factorial}.")

Enter a non-negative integer: 1
The factorial of 1 is 1.

### 49. Input number of terms; print Fibonacci series.

In [59]:
n_terms = int(input("Enter the number of terms for Fibonacci series: "))

a, b = 0, 1
count = 0

if n_terms <= 0:
    print("Please enter a positive integer.")
elif n_terms == 1:
    print("Fibonacci series up to 1 term:")
    print(a)
else:
    print("Fibonacci series:")
    while count < n_terms:
        print(a, end=" ")
        nth = a + b
        a = b
        b = nth
        count += 1
    print()

Enter the number of terms for Fibonacci series: 1
Fibonacci series up to 1 term:
0

### 50. Input number; check if prime or not.

In [60]:
num = int(input("Enter a number: "))

if num <= 1:
    print(f"{num} is not a prime number.")
elif num == 2:
    print(f"{num} is a prime number.")
else:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

Enter a number: 1
1 is not a prime number.

### 43. Input marks of 5 subjects; print percentage.

In [61]:
sub1 = float(input("Enter marks for subject 1: "))
sub2 = float(input("Enter marks for subject 2: "))
sub3 = float(input("Enter marks for subject 3: "))
sub4 = float(input("Enter marks for subject 4: "))
sub5 = float(input("Enter marks for subject 5: "))

total_marks = sub1 + sub2 + sub3 + sub4 + sub5
percentage = (total_marks / 500) * 100 # Assuming max marks for each subject is 100

print(f"Total Marks: {total_marks}")
print(f"Percentage: {percentage:.2f}%")

Enter marks for subject 1: 1
Enter marks for subject 2: 1
Enter marks for subject 3: 1
Enter marks for subject 4: 1
Enter marks for subject 5: 1
Total Marks: 5.0
Percentage: 1.00%

### 44. Input number; print table.

In [62]:
num = int(input("Enter a number to print its multiplication table: "))

print(f"Multiplication Table for {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number to print its multiplication table: 1
Multiplication Table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

### 45. Input any two numbers; print maximum.

In [63]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("The maximum number is:", max(num1, num2))

Enter first number: 1
Enter second number: 1
The maximum number is: 1.0

### 46. Input two numbers; print minimum.

In [64]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("The minimum number is:", min(num1, num2))

Enter first number: 1
Enter second number: 1
The minimum number is: 1.0

### 47. Input a letter; check if it is a vowel or consonant.

In [65]:
char = input("Enter a letter: ").lower()

if len(char) == 1 and char.isalpha():
    if char in ('a', 'e', 'i', 'o', 'u'):
        print(f"'{char}' is a vowel.")
    else:
        print(f"'{char}' is a consonant.")
else:
    print("Please enter a single letter.")

Enter a letter: 1
Please enter a single letter.

### 48. Input number; print factorial.

In [66]:
import math

num = int(input("Enter a non-negative integer: "))

if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    factorial = math.factorial(num)
    print(f"The factorial of {num} is {factorial}.")

Enter a non-negative integer: 1
The factorial of 1 is 1.

### 49. Input number of terms; print Fibonacci series.

In [67]:
n_terms = int(input("Enter the number of terms for Fibonacci series: "))

a, b = 0, 1
count = 0

if n_terms <= 0:
    print("Please enter a positive integer.")
elif n_terms == 1:
    print("Fibonacci series up to 1 term:")
    print(a)
else:
    print("Fibonacci series:")
    while count < n_terms:
        print(a, end=" ")
        nth = a + b
        a = b
        b = nth
        count += 1
    print()

Enter the number of terms for Fibonacci series: 1
Fibonacci series up to 1 term:
0

### 50. Input number; check if prime or not.

In [68]:
num = int(input("Enter a number: "))

if num <= 1:
    print(f"{num} is not a prime number.")
elif num == 2:
    print(f"{num} is a prime number.")
else:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{num} is a prime number.")
    else:
        print(f"{num} is not a prime number.")

Enter a number: 1
1 is not a prime number.

### 19. Input age; print if eligible to vote.

In [19]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter your age: 1
Not eligible to vote

### 20. Input speed; check if speed > 60 print “Overspeeding”.

In [20]:
speed = float(input("Enter speed: "))
if speed > 60:
    print("Overspeeding")

Enter speed: 1

### 21. Input salary and bonus; print total salary.

In [21]:
salary = float(input("Enter salary: "))
bonus = float(input("Enter bonus: "))
total_salary = salary + bonus
print("Total Salary:", total_salary)

Enter salary: 1
Enter bonus: 1
Total Salary: 2.0

### 22. Input length & breadth; print area of rectangle.

In [22]:
length = float(input("Enter length: "))
breadth = float(input("Enter breadth: "))
area = length * breadth
print("Area of rectangle:", area)

Enter length: 1
Enter breadth: 1
Area of rectangle: 1.0

### 23. Input radius; print circumference of a circle.

In [23]:
import math
radius = float(input("Enter radius: "))
circumference = 2 * math.pi * radius
print("Circumference of circle:", circumference)

Enter radius: 1
Circumference of circle: 6.283185307179586

### 24. Input radius; print volume of sphere.

In [24]:
import math
radius = float(input("Enter radius: "))
volume = (4/3) * math.pi * (radius ** 3)
print("Volume of sphere:", volume)

Enter radius: 1
Volume of sphere: 4.1887902047863905

### 25. Input two numbers; swap them.

In [25]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Before swap: num1 =", num1, ", num2 =", num2)
num1, num2 = num2, num1
print("After swap: num1 =", num1, ", num2 =", num2)

Enter first number: 1
Enter second number: 1
Before swap: num1 = 1.0 , num2 = 1.0
After swap: num1 = 1.0 , num2 = 1.0

### 26. Input two strings; print them in reverse order.

In [26]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
print("Strings in reverse order:", str2, str1)

Enter first string: 1
Enter second string: 1
Strings in reverse order: 1 1

### 27. Input two numbers; print quotient & remainder.

In [27]:
num1 = int(input("Enter dividend: "))
num2 = int(input("Enter divisor: "))
quotient = num1 // num2
remainder = num1 % num2
print("Quotient:", quotient, ", Remainder:", remainder)

Enter dividend: 1
Enter divisor: 1
Quotient: 1 , Remainder: 0

### 28. Input marks; print pass or fail.

In [28]:
marks = float(input("Enter marks (0-100): "))
if marks >= 40:
    print("Pass")
else:
    print("Fail")

Enter marks (0-100): 1
Fail

### 29. Input days; convert to weeks and days.

In [29]:
total_days = int(input("Enter total days: "))
weeks = total_days // 7
remaining_days = total_days % 7
print(f"{total_days} days is equal to {weeks} weeks and {remaining_days} days.")

Enter total days: 1
1 days is equal to 0 weeks and 1 days.

### 30. Input minutes; convert to hours.

In [30]:
minutes = float(input("Enter minutes: "))
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours.")

Enter minutes: 1
1.0 minutes is equal to 0.02 hours.

### 31. Input hours; convert to minutes.

In [31]:
hours = float(input("Enter hours: "))
minutes = hours * 60
print(f"{hours} hours is equal to {minutes:.2f} minutes.")

Enter hours: 1
1.0 hours is equal to 60.00 minutes.

### 32. Input distance (km); convert to meters.

In [32]:
km = float(input("Enter distance in kilometers: "))
meters = km * 1000
print(f"{km} km is equal to {meters:.0f} meters.")

Enter distance in kilometers: 1
1.0 km is equal to 1000 meters.

### 33. Input seconds; convert to h/m/s.

In [33]:
total_seconds = int(input("Enter total seconds: "))
hours = total_seconds // 3600
remaining_seconds = total_seconds % 3600
minutes = remaining_seconds // 60
seconds = remaining_seconds % 60
print(f"{total_seconds} seconds is equal to {hours} hours, {minutes} minutes, and {seconds} seconds.")

Enter total seconds: 1
1 seconds is equal to 0 hours, 0 minutes, and 1 seconds.

### 34. Input number; check multiple of 5.

In [34]:
num = int(input("Enter an integer: "))
if num % 5 == 0:
    print(f"{num} is a multiple of 5.")
else:
    print(f"{num} is not a multiple of 5.")

Enter an integer: 1
1 is not a multiple of 5.

### 35. Input number; check multiple of 3 and 7.

In [35]:
num = int(input("Enter an integer: "))
if num % 3 == 0 and num % 7 == 0:
    print(f"{num} is a multiple of both 3 and 7.")
else:
    print(f"{num} is not a multiple of both 3 and 7.")

Enter an integer: 1
1 is not a multiple of both 3 and 7.

### 36. Input marks (0-100); print grade.

In [36]:
marks = float(input("Enter marks (0-100): "))
if 90 <= marks <= 100:
    print("Grade: A")
elif 80 <= marks < 90:
    print("Grade: B")
elif 70 <= marks < 80:
    print("Grade: C")
elif 60 <= marks < 70:
    print("Grade: D")
elif 0 <= marks < 60:
    print("Grade: F")
else:
    print("Invalid marks")

Enter marks (0-100): 1
Grade: F

### 37. Input two numbers; print power (a^b).

In [37]:
base = float(input("Enter the base number: "))
exponent = float(input("Enter the exponent: "))
result = base ** exponent
print(f"{base} to the power of {exponent} is: {result}")

Enter the base number: 1
Enter the exponent: 1
1.0 to the power of 1.0 is: 1.0

### 38. Input character; print ASCII value.

In [38]:
char = input("Enter a character: ")
if len(char) == 1:
    print(f"The ASCII value of '{char}' is: {ord(char)}")
else:
    print("Please enter only one character.")

Enter a character: 1
The ASCII value of '1' is: 49

### 39. Input number; check divisible by 9.

In [39]:
num = int(input("Enter an integer: "))
if num % 9 == 0:
    print(f"{num} is divisible by 9.")
else:
    print(f"{num} is not divisible by 9.")

Enter an integer: 1
1 is not divisible by 9.

### 40. Input year; check leap year.

In [40]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 1
1 is not a leap year.

### 41. Input 3 angles; check if triangle is valid.

In [41]:
angle1 = float(input("Enter first angle: "))
angle2 = float(input("Enter second angle: "))
angle3 = float(input("Enter third angle: "))
if angle1 > 0 and angle2 > 0 and angle3 > 0 and (angle1 + angle2 + angle3) == 180:
    print("The angles form a valid triangle.")
else:
    print("The angles do not form a valid triangle.")

Enter first angle: 1
Enter second angle: 1
Enter third angle: 1
The angles do not form a valid triangle.

### 42. Input cost price & selling price; print profit/loss.

In [42]:
cost_price = float(input("Enter cost price: "))
selling_price = float(input("Enter selling price: "))

if selling_price > cost_price:
    profit = selling_price - cost_price
    print(f"Profit: {profit:.2f}")
elif selling_price < cost_price:
    loss = cost_price - selling_price
    print(f"Loss: {loss:.2f}")
else:
    print("No profit, no loss.")

Enter cost price: 1
Enter selling price: 1
No profit, no loss.